In [ ]:
import numpy as np
import pandas as pd

o1 = pd.read_csv('all8.csv')
o2 = pd.read_csv('conss2.csv')

df1 = pd.DataFrame(o1,columns = ['VISIT_NO',"STATE_CODE",'STATE_CODE_EXP',
                                 "SHRP_ID",'CONSTRUCTION_NO','VISIT_DATE',"YEAR","MERRA_ID",'IMP_DATE','IMP_TYPE_EXP','IMP_THICKNESS'
                                 ,'IRI PREVIOUS','TIME PASSED SINCE LAST REHABILITATION','TIME PASSED FROM PREVIOUS IRI',
                                 "TOTAL_THICKNESS","AC LAYER_THICKNESS","OVERLAY_THICKNESS","TEMP_MEAN_AVG","FREEZE_INDEX","PRECIPITATION","ANNUAL_ESAL"
                                 ,"NUMBER OF PRESERVATION ACTIVITIES","EXTREME DECREASE","IRI","IRIF"])
df2 = pd.DataFrame(o2,columns = ["STATE_CODE","SHRP_ID"
                                  ,'CONSTRUCTION_NO','IMP_DATE','IMP_TYPE_EXP','IMP_THICKNESS',"MILLING_CODE"])

In [ ]:
df1

,VISIT_NO,STATE_CODE,STATE_CODE_EXP,SHRP_ID,CONSTRUCTION_NO,VISIT_DATE,YEAR,MERRA_ID,IMP_DATE,IMP_TYPE_EXP,...,AC LAYER_THICKNESS,OVERLAY_THICKNESS,TEMP_MEAN_AVG,FREEZE_INDEX,PRECIPITATION,ANNUAL_ESAL,NUMBER OF PRESERVATION ACTIVITIES,EXTREME DECREASE,IRI,IRIF
0,6050104,6,California,501,2,2/2/1993,1993,138342,4/20/1992,Hot-Mix Recycled Asphalt Concrete Overlay,...,180.3,58.4,16.6,0,202.8,863000,0,1,1.12,1.04
1,6050105,6,California,501,2,4/4/1995,1995,138342,4/20/1992,Hot-Mix Recycled Asphalt Concrete Overlay,...,180.3,58.4,17.9,0,190.5,791000,0,0,1.24,1.23
2,6050106,6,California,501,2,2/27/1997,1997,138342,4/20/1992,Hot-Mix Recycled Asphalt Concrete Overlay,...,180.3,58.4,18.1,0,179.4,744000,0,0,1.35,NaN
3,6050107,6,California,501,2,2/11/1998,1998,138342,4/20/1992,Hot-Mix Recycled Asphalt Concrete Overlay,...,180.3,58.4,16.5,0,165.6,949956,0,0,1.44,NaN
4,6050108,6,California,501,2,3/5/1999,1999,138342,4/20/1992,Hot-Mix Recycled Asphalt Concrete Overlay,...,180.3,58.4,17.7,0,89.8,1003217,0,0,1.73,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2788,48H31003,48,Texas,310004,2,11/3/1992,1992,133192,10/15/1990,Asphalt Concrete Overlay,...,76.2,30.5,19.6,0,1379.0,33452,0,0,0.83,NaN
2789,48H31004,48,Texas,310004,2,11/3/1994,1994,133192,10/15/1990,Asphalt Concrete Overlay,...,76.2,30.5,20.0,0,1049.0,38424,0,0,0.87,NaN
2790,48I31002,48,Texas,310005,2,11/4/1992,1992,133192,11/30/1990,Asphalt Concrete Overlay,...,231.1,15.2,19.6,0,1379.0,33654,0,1,1.06,NaN
2791,48I31003,48,Texas,310005,2,11/2/1994,1994,133192,11/30/1990,Asphalt Concrete Overlay,...,231.1,15.2,20.0,0,1049.0,42475,0,0,1.10,NaN
2792,48I31004,48,Texas,310005,2,6/9/1997,1997,133192,11/30/1990,Asphalt Concrete Overlay,...,231.1,15.2,19.4,1,1335.0,54294,0,0,1.32,NaN

In [ ]:
df2

,STATE_CODE,SHRP_ID,CONSTRUCTION_NO,IMP_DATE,IMP_TYPE_EXP,IMP_THICKNESS,MILLING_CODE
0,1,506,2,12/20/1991,Mill Off AC and Overlay with AC,76.2,1
1,1,506,3,7/15/2013,Mill Existing Pavement and Overlay with Hot-Mi...,38.1,1
2,1,507,2,12/20/1991,Mill Off AC and Overlay with AC,139.7,1
3,1,508,2,12/20/1991,Mill Existing Pavement and Overlay with Hot-Mi...,144.8,1
4,1,509,2,12/20/1991,Mill Existing Pavement and Overlay with Hot-Mi...,81.3,1
...,...,...,...,...,...,...,...
265,83,6454,12,5/26/1998,Mill Existing Pavement and Overlay with Hot-Mi...,76.2,1
266,84,1684,2,8/28/1996,Mill Existing Pavement and Overlay with Hot-Mi...,66.0,1
267,87,1620,3,9/2/1998,Mill Existing Pavement and Overlay with Hot-Mi...,88.9,1
268,87,1620,4,10/1/2012,Mill Existing Pavement and Overlay with Hot-Mi...,149.9,1
269,87,1622,2,7/16/1998,Mill Existing Pavement and Overlay with Hot-Mi...,88.9,1

In [ ]:
df = df1.merge(df2, on=('STATE_CODE',"SHRP_ID","CONSTRUCTION_NO"), how='left')

In [ ]:
df

,VISIT_NO,STATE_CODE,STATE_CODE_EXP,SHRP_ID,CONSTRUCTION_NO,VISIT_DATE,YEAR,MERRA_ID,IMP_DATE_x,IMP_TYPE_EXP_x,...,PRECIPITATION,ANNUAL_ESAL,NUMBER OF PRESERVATION ACTIVITIES,EXTREME DECREASE,IRI,IRIF,IMP_DATE_y,IMP_TYPE_EXP_y,IMP_THICKNESS_y,MILLING_CODE
0,6050104,6,California,501,2,2/2/1993,1993,138342,4/20/1992,Hot-Mix Recycled Asphalt Concrete Overlay,...,202.8,863000,0,1,1.12,1.04,NaN,NaN,NaN,NaN
1,6050105,6,California,501,2,4/4/1995,1995,138342,4/20/1992,Hot-Mix Recycled Asphalt Concrete Overlay,...,190.5,791000,0,0,1.24,1.23,NaN,NaN,NaN,NaN
2,6050106,6,California,501,2,2/27/1997,1997,138342,4/20/1992,Hot-Mix Recycled Asphalt Concrete Overlay,...,179.4,744000,0,0,1.35,NaN,NaN,NaN,NaN,NaN
3,6050107,6,California,501,2,2/11/1998,1998,138342,4/20/1992,Hot-Mix Recycled Asphalt Concrete Overlay,...,165.6,949956,0,0,1.44,NaN,NaN,NaN,NaN,NaN
4,6050108,6,California,501,2,3/5/1999,1999,138342,4/20/1992,Hot-Mix Recycled Asphalt Concrete Overlay,...,89.8,1003217,0,0,1.73,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,48H31003,48,Texas,310004,2,11/3/1992,1992,133192,10/15/1990,Asphalt Concrete Overlay,...,1379.0,33452,0,0,0.83,NaN,NaN,NaN,NaN,NaN
2793,48H31004,48,Texas,310004,2,11/3/1994,1994,133192,10/15/1990,Asphalt Concrete Overlay,...,1049.0,38424,0,0,0.87,NaN,NaN,NaN,NaN,NaN
2794,48I31002,48,Texas,310005,2,11/4/1992,1992,133192,11/30/1990,Asphalt Concrete Overlay,...,1379.0,33654,0,1,1.06,NaN,NaN,NaN,NaN,NaN
2795,48I31003,48,Texas,310005,2,11/2/1994,1994,133192,11/30/1990,Asphalt Concrete Overlay,...,1049.0,42475,0,0,1.10,NaN,NaN,NaN,NaN,NaN
2796,48I31004,48,Texas,310005,2,6/9/1997,1997,133192,11/30/1990,Asphalt Concrete Overlay,...,1335.0,54294,0,0,1.32,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.to_csv("CONS11.csv")