In [ ]:
import numpy as np
import pandas as pd

o = pd.read_csv('T2.csv')

df = pd.DataFrame(o,columns = ['STATE_CODE'
                                 ,"SHRP_ID",'CONSTRUCTION_NO',"LAYER_NO",'DESCRIPTION','DESCRIPTION_EXP','LAYER_TYPE'
                                 ,'REPR_THICKNESS',"TOTAL_THICKNESS","AC LAYER_THICKNESS"])
#df = pd.DataFrame(o,columns = ['STATE_CODE',
                               #  "SHRP_ID",'CONSTRUCTION_NO',"LAYER_NO",'DESCRIPTION','DESCRIPTION_EXP','LAYER_TYPE','LAYER_TYPE_EXP'
                              #   ,'REPR_THICKNESS','MATL_CODE_EXP',"TOTAL_THICKNESS","AC LAYER_THICKNESS", 'OVERLAY_THICKNESS'])

In [ ]:
df.head()

,STATE_CODE,SHRP_ID,CONSTRUCTION_NO,LAYER_NO,DESCRIPTION,DESCRIPTION_EXP,LAYER_TYPE,REPR_THICKNESS,TOTAL_THICKNESS,AC LAYER_THICKNESS
0,1,1001,1,4,4,AC Layer Below Surface (Binder Course),AC,40.6,728.9,NaN
1,1,1001,1,5,3,Original Surface Layer,AC,25.4,728.9,NaN
2,1,1001,2,4,4,AC Layer Below Surface (Binder Course),AC,40.6,774.6,NaN
3,1,1001,2,5,3,Original Surface Layer,AC,25.4,774.6,NaN
4,1,1001,2,7,4,AC Layer Below Surface (Binder Course),AC,45.7,774.6,NaN

In [ ]:
df.tail()

,STATE_CODE,SHRP_ID,CONSTRUCTION_NO,LAYER_NO,DESCRIPTION,DESCRIPTION_EXP,LAYER_TYPE,REPR_THICKNESS,TOTAL_THICKNESS,AC LAYER_THICKNESS
1922,90,6420,6,3,2,Seal Coat,AC,12.7,210.8,NaN
1923,90,6420,6,4,2,Seal Coat,AC,12.7,210.8,NaN
1924,90,6420,7,2,3,Original Surface Layer,AC,185.4,210.8,NaN
1925,90,6420,7,3,2,Seal Coat,AC,12.7,210.8,NaN
1926,90,6420,7,4,2,Seal Coat,AC,12.7,210.8,NaN

In [ ]:
frames = []
for i in df["STATE_CODE"].unique():
 for j in df["SHRP_ID"].unique():
  for k in df["CONSTRUCTION_NO"].unique():
    T1 = df[(df["STATE_CODE"]==i) & (df["SHRP_ID"]==j) & (df["CONSTRUCTION_NO"]==k)]
    T1["AC LAYER_THICKNESS"].fillna(round(T1['REPR_THICKNESS'].sum(),3), inplace=True)
    frames.append(T1)
result = pd.concat(frames)

<ipython-input-17-ed4dd2ece6f0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T1["AC LAYER_THICKNESS"].fillna(round(T1['REPR_THICKNESS'].sum(),3), inplace=True)

In [ ]:
result

result.to_csv('TOTAL_T3.csv')